<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="refresh" content="10; URL=/">
        <!-- 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        !-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> 
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    
        <title>WindowOpener</title>

        <style> 

                .row {
                    background: rgb(0, 162, 255);
                    text-align: center;
                    
                }
                .col {
                    border: 1px solid grey;
                }

            </style> 

    </head>

    <body>

        <div class="container">

            <div class="row">
              <div class="col">
                {{ temp }} °C
              </div>
              <div class="col">
                {{ hum }} %
              </div>
            </div>
            <div class="row">
              <div class="col" data-href='url://'>
                min {{ min_t }} °C
              </div>
              <div class="col" data-href='url://'>
                max {{ max_t }} °C
              </div>
            </div>
            <div class="row">
                <div class="col" id="auto" data-href='/auto'>
                    <button type="button" class={% if mode == 'auto' %} 'btn btn-success' {% else %} 'btn btn-secondary' {% endif %} id="auto">AUTO</button>
                </div>
                <div class="col" id="open" data-href='/open'>
                    <button type="button" class={% if mode == 'open' %} 'btn btn-success' {% else %} 'btn btn-secondary' {% endif %} id="open">OPEN</button>
                </div>
                <div class="col" id="close" data-href='/close'>
                    <button type="button" class={% if mode == 'close' %} 'btn btn-success' {% else %} 'btn btn-secondary' {% endif %} id="close">CLOSE</button>
                </div>
            </div>

            <div class="row" style='background-color: white'>
                <div class="col-md-6">

                    <div class="chart" id="bargraph">
                        <script>
                            var graphs = {{ plot | safe }};
                            Plotly.plot('bargraph',graphs,{});
                        </script>
                    </div>

                </div>
            </div>
        
          </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script>
            jQuery(document).ready(function($) {
                $("#auto").click(function() {
                    window.document.location = $(this).data("href");
                });
                $("#open").click(function() {
                    window.document.location = $(this).data("href");
                });
                $("#close").click(function() {
                    window.document.location = $(this).data("href");
                });
            });
        </script>
    </body>
</html>
